a.pos_fixed
        {
        position:fixed;
        top:580px;
        right:15px;
        }
        #form1
        {
            text-align: center;
        }
        .style1
        {
            width: 890px;
        }
        .style2
        {
            width: 71%;
        }
        .style3
        {
        }
        .style4
        {
            width: 599px;
            text-align: center;
        }
        .style7
        {
            width: 756px;
            height: 149px;
        }
        .style8
        {
            font-size: small;
        }
        .style9
        {
            width: 790px;
            height: 152px;
        }
        .style10
        {
            vertical-align: middle;
            text-align: left;
            font-size: small;
            height: 39px;
        }
        .style12
        {
            font-size: medium;
        }
        .style14
        {
            text-align: center;
            font-size: large;
            font-weight: bold;
            width: 247px;
        }
        .style16
        {
            text-align: center;
            font-size: large;
            font-weight: bold;
            width: 248px;
        }
        .style17
        {
            font-size: medium;
            width: 247px;
        }
        .style19
        {
            width: 248px;
        }
        .style20
        {
            font-size: medium;
            width: 248px;
        }
        .style21
        {
            text-decoration: none;
        }
        .style22
        {
            color: #000000;
        }
        #google_translate_element
        {
            text-align: center;
        }
        .style23
        {
            height: 14px;
        }
        .style24
        {
            width: 80%;
            height: 156px;
        }
        .style25
        {
            height: 39px;
    text-align: left;
}
        .style26
        {
            font-size: small;
            height: 39px;
        }